.form{
    background-color: rgb(199, 195, 191);
    margin-top: 20px;
    padding: 10px;
    margin: 0;
    border: 0;
    color: black;
    
}
.metros{
    border-radius: 6px;
    color: black;
    margin-left: 10 px;
    border-color: cadetblue;
}
.container{
    margin: 0;
}
.lata{
    border-color: rgb(218, 218, 219);
    color: black;
}
.form1{
    background-color: rgb(85, 129, 98);
    color: black;
    margin-top: 20px;
    padding: 10px;
    margin: 0;
    border: 0;
}
.form2{
    background-color: rgb(67, 80, 179);
    color: black;
    margin-top: 20px;
    padding: 10px;
    margin: 0;
    border: 0;
}
.galao{
    border-color: rgb(218, 218, 219);
    color: black;
}
.salvar{
    background-color: rgb(109, 108, 106);
    border-radius: 0px;
    margin: 0;
    padding: 0;
}
#superior{
    background-color: rgb(199, 195, 191);
}